/* Products */
.product-container {
    display: flex;
    /* align-items: flex-start; */
    flex-flow: row wrap;
    text-align: center;
    height: 100%;
    max-width: 90%;
    margin: 0px auto 40px;
    justify-content: space-between;
  }
  
  .product-item {
    padding: 1em 0px 2.7em 0px;
    border:1px solid #ECEAEA;
    width: 22%;
    position:relative;
    margin-bottom:15px;
  }

  .product-item:hover {
    border:1px solid #73B6E1;
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
    cursor:pointer;

  }
  .product-link {
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 12px 0px;
  }
  .product-image{
    height: 200px;
  }
  .product-bottom {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
  }
  .product-name {
    font-size: 16px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
   
  }
  .product-price{
    font-size: 17px;
    color: #000;
    margin: 5px 0 0 0;
   
  }
  .product-par {
    font-size: 12px;
      color: #999;
      margin: 5px 0 0 0;
      text-transform: uppercase;
  }
  
  .edit, .add{
    text-transform: uppercase;
    padding: 5px 15px;
    background: #000;
    color: #fff;
    outline: none;
    border:none;
    position: absolute;
    bottom:10px;
    right:0;
  }
  .edit:hover, .add:hover{
    background: lightseagreen;
    cursor: pointer;
    text-decoration: none;
    color:#fff;
  }
  .remove{
    position: absolute;
    top:10px;
    right:10px;
  }