*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  }
  
body{
  background:#fff;
  font-family: 'ZCOOL XiaoWei', serif;
  }




.noItems{
  color: #73B6E1;
  width:90%;
  margin:40px auto 50px;
  text-align: center;
  }




/* This is responsive for tablet */

@media all and (min-width:520px) and (max-width: 860px) {

.noItems {
  width:100%;
  font-size:35px;
  }

}



/* This is responsive for mobile */

@media all and (max-width: 519px) { 

.noItems {
  width:100%;
  font-size:25px;
  }

}



